<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CheckersMinimax.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <CheckersMinimax.Properties.Settings>
            <setting name="KingWorth" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="PawnWorth" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="AIDepth" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="PawnDangerValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="KingDangerValue" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="IsAIGame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsAIDuel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Difficulty" serializeAs="String">
                <value>hard</value>
            </setting>
            <setting name="MinimumLogLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="WhosFirst" serializeAs="String">
                <value>red</value>
            </setting>
            <setting name="TimeToSleeepBetweenMoves" serializeAs="String">
                <value>00:00:01</value>
            </setting>
            <setting name="RunningGeneticAlgo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NumberOfSimulations" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="NumberOfRounds" serializeAs="String">
                <value>50</value>
            </setting>
        </CheckersMinimax.Properties.Settings>
    </userSettings>
</configuration>